<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2> 
        <p>Stay tuned!!!!!!!!</p> 
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>About</h2> 
            <p>Hi, I'm Nikan Eidi, a Computer Programming & Data Analysis student at Seneca College.</p>
            <p>My interests include full-stack web development, cloud computing, and AI-driven solutions.</p>
            <p>In this project, I’m developing an eCommerce application as part of my WEB322 coursework.</p>
            <p>Looking forward to building more features and improving the app throughout the semester.</p>
        </article>
    </section>
</div>
