<div class="row">
    <div class="col-md-12">
        <h2 class="mb-4">Add New Item</h2>

        <form method="post" action="/items/add" enctype="multipart/form-data">
            <fieldset>
                <legend>Feature Image</legend>
                <div class="form-group">
                    <input class="form-control-file" id="featureImage" name="featureImage" type="file" required />
                </div>
            </fieldset>

            <br />

            <fieldset>
                <legend>Post Content</legend>

                <div class="form-group">
                    <label for="title">Item Name:</label>
                    <input class="form-control" id="title" name="title" type="text" required />
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input class="form-control" id="price" name="price" type="number" step="0.01" required />
                </div>

                <div class="form-group">
                    <label for="body">Description:</label>
                    <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category">Category:</label>
                            {{#if categories}}
                            <select class="form-control" name="category" id="category" required>
                                <option value="">Select Category</option>
                                {{#each categories}}
                                    <option value="{{id}}">{{category}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                                <p class="text-danger">No categories available. Please add a category first.</p>
                            {{/if}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-check">
                            <label for="published" class="form-check-label">
                                <input type="checkbox" name="published" id="published" class="form-check-input" />
                                Published
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <hr />
            <button type="submit" class="btn btn-primary">Add Item</button>
        </form>
    </div>
</div>
